p{
	font-size: 12px;
}

.fileName{
	display: inline-block;
	width: 100%;
	text-align:center;
	border: 5px solid green;
}

.res_upToDate{
	display: inline-block;
	width: 48%;
	text-align:center;
	border: 5px solid blue;
}

.res_depreciated{
	display: inline-block;
	width: 48%;
	text-align:center;
	border: 5px solid red;
}